<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ctatitude">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ct_atitude_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ct_atitude_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CTAtitude">
        <activity
            android:name=".view.TreinosEtapaExercicioCasdastroActivity"
            android:parentActivityName=".view.TreinosEtapaCasdastroActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.TreinosEtapaCasdastroActivity" />
        </activity>
        <activity
            android:name=".view.TreinosEtapaCasdastroActivity" android:launchMode="singleTop"
            android:parentActivityName=".view.TreinosCasdastroActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.TreinosCasdastroActivity" />
        </activity>
        <activity
            android:name=".view.TreinosCasdastroActivity" android:launchMode="singleTop"
            android:parentActivityName=".view.TreinosListaActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.TreinosListaActivity" />
        </activity>
        <activity
            android:name=".view.TreinosListaActivity"
            android:parentActivityName=".view.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.TimersListaActivity"
            android:parentActivityName=".view.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.TimerActivity"
            android:parentActivityName=".view.TimersListaActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.TimersListaActivity" />
        </activity>
        <activity
            android:name=".view.ExerciciosCasdastroActivity"
            android:parentActivityName=".view.ExerciciosListaActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ExerciciosListaActivity" />
        </activity>
        <activity
            android:name=".view.ExerciciosListaActivity"
            android:parentActivityName=".view.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>